<ng-container *ngIf="artObject; else addMore">
  <mat-card class="responsive-card">
    <div class="image-container">
      <img *ngIf="artObject.webImage; else noImage" mat-card-image
           [src]="artObject.webImage.url.replace('=s0', '=w500')" alt="Card image">
      <ng-template #noImage>
        <svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px"
             fill="#e8eaed">
          <path
            d="m840-233-60-60v-487H293l-60-60h547q24 0 42 18t18 42v547ZM806-56l-64-64H180q-24 0-42-18t-18-42v-562l-63-63 43-43L849-99l-43 43ZM236-277l117-152 93 127 50-65-316-316v503h503l-97-97H236Zm301-260ZM432-432Z"/>
        </svg>
      </ng-template>
    </div>
    <mat-card-content class="description-sec">
      <div class="title">{{ artObject.title }}</div>
      <div class="artist">{{ artObject.principalOrFirstMaker }}</div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #addMore>
  <mat-card class="responsive-card">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
        <path
          d="M507-480 384-357l56 57 180-180-180-180-56 57 123 123ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
      </svg>
    </div>
    <mat-card-content class="description-sec">
      <div class="title">Load more items!</div>
    </mat-card-content>
  </mat-card>
</ng-template>
