.sidenav-container {
  height: 100%;
}
.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: #e0e4fb;
}
.main-content {
  margin-top: 64px;
}

.progress-bar-container {
  display: flex;
  height: 10px;
  align-items: flex-end;
  width: 100%;
  margin: 0 50px;
}
