.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 30px;
  padding: 50px;
}

.image-header {
  width: 40%;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  color: #5a5a5a;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.makers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .mdc-button__label {
    max-width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.description {
  border: 1px solid #3e3e3e;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  font-size: 13px;
}

.tag-title {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 0 0
}

.spinner-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
}

mat-chip {
  margin: 2px 5px;
}

.similar-container {
  display: flex;
  justify-content: space-between;

  .img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 5px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 5px;
    }
  }
}